<div class="form-fields">
    
    <label>Title</label>
    <input maxlength="50" type="text" name="title" value="<%= note.title %>">

    <label>Description</label>
    <textarea type="text" name="description"><%= note.description %></textarea>

</div>