<div class="container">

<h2 class="page-header">Create New Note</h2>

<form action="/notes" method="POST">

    <%- include('_edit_new_form.ejs') %>

    <div class="btn-row">
    <a class="btn btn-danger" href="/notes">Cancel</a>
    <button type="submit" class="btn btn-safe btn-left">Create</button>
    </div>

</form>


</div>